<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="Console" />
    </root>

    <!-- Spring Framework 로그 설정 -->
    <logger name="org.springframework" level="INFO" additivity="true">
        <appender-ref ref="Console" />
    </logger>

    <!-- AOP와 Controller가 있는 패키지 로그 설정 -->
    <logger name="creativeprj.creative" level="INFO" additivity="true">
        <appender-ref ref="Console" />
    </logger>



</configuration>
