<html xmlns:th="http://thymeleaf.org">
<div th:fragment="css-merge">
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/resource/boots/hosting_tp/assets/img/workout_logo_test.png}">
    <!-- CSS here -->
    <link rel="stylesheet" th:href="@{/resource/boots/hosting_tp/assets/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/resource/boots/hosting_tp/assets/css/owl.carousel.min.css}">
    <link rel="stylesheet" th:href="@{/resource/boots/hosting_tp/assets/css/slicknav.css}">
    <link rel="stylesheet" th:href="@{/resource/boots/hosting_tp/assets/css/flaticon.css}">
    <link rel="stylesheet" th:href="@{/resource/boots/hosting_tp/assets/css/progressbar_barfiller.css}">
    <link rel="stylesheet" th:href="@{/resource/boots/hosting_tp/assets/css/gijgo.css}">
    <link rel="stylesheet" th:href="@{/resource/boots/hosting_tp/assets/css/animate.min.css}">
    <link rel="stylesheet" th:href="@{/resource/boots/hosting_tp/assets/css/animated-headline.css}">
    <link rel="stylesheet" th:href="@{/resource/boots/hosting_tp/assets/css/magnific-popup.css}">
    <link rel="stylesheet" th:href="@{/resource/boots/hosting_tp/assets/css/fontawesome-all.min.css}">
    <link rel="stylesheet" th:href="@{/resource/boots/hosting_tp/assets/css/themify-icons.css}">
    <link rel="stylesheet" th:href="@{/resource/boots/hosting_tp/assets/css/slick.css}">
    <link rel="stylesheet" th:href="@{/resource/boots/hosting_tp/assets/css/nice-select.css}">
    <link rel="stylesheet" th:href="@{/resource/boots/hosting_tp/assets/css/style.css}">
    <link rel="stylesheet" th:href="@{/resource/boots/hosting_tp/assets/css/font-css}">
    <link rel="stylesheet" th:href="@{/resource/boots/hosting_tp/assets/css/custom.css}">
</div>
</html>

