<html xmlns:th="http://thymeleaf.org">
<footer th:fragment="footer">
    <div class="footer-wrappr " data-background="/resource/boots/hosting_tp/assets/img/gallery/footer-bg.png">
        <div class="footer-area footer-padding ">

        </div>
        <!-- footer-bottom area -->
        <div class="footer-bottom-area">
            <div class="container">
                <div class="footer-border">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="footer-copy-right text-center" style="color: white">
                                안녕하세요. 백엔드 개발자 최영하입니다.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
</html>