<html xmlns:th="http://thymeleaf.org">
<div th:fragment="js-merge">
    <!-- JS here -->
    <script th:src="@{/resource/boots/hosting_tp/assets/js/vendor/modernizr-3.5.0.min.js}"></script>
    <!-- Jquery, Popper, Bootstrap -->
    <script th:src="@{/resource/boots/hosting_tp/assets/js/vendor/jquery-1.12.4.min.js}"></script>
    <script th:src="@{/resource/boots/hosting_tp/assets/js/popper.min.js}"></script>
    <script th:src="@{/resource/boots/hosting_tp/assets/js/bootstrap.min.js}"></script>
    <!-- Jquery Mobile Menu -->
    <script th:src="@{/resource/boots/hosting_tp/assets/js/jquery.slicknav.min.js}"></script>

    <!-- Jquery Slick , Owl-Carousel Plugins -->
    <script th:src="@{/resource/boots/hosting_tp/assets/js/owl.carousel.min.js}"></script>
    <script th:src="@{/resource/boots/hosting_tp/assets/js/slick.min.js}"></script>
    <!-- One Page, Animated-HeadLin -->
    <script th:src="@{/resource/boots/hosting_tp/assets/js/wow.min.js}"></script>
    <script th:src="@{/resource/boots/hosting_tp/assets/js/animated.headline.js}"></script>
    <script th:src="@{/resource/boots/hosting_tp/assets/js/jquery.magnific-popup.js}"></script>

    <!-- Date Picker -->
    <script th:src="@{/resource/boots/hosting_tp/assets/js/gijgo.min.js}"></script>

    <!-- Video bg -->
    <script th:src="@{/resource/boots/hosting_tp/assets/js/jquery.vide.js}"></script>

    <!-- Nice-select, sticky -->
    <script th:src="@{/resource/boots/hosting_tp/assets/js/jquery.nice-select.min.js}"></script>
    <script th:src="@{/resource/boots/hosting_tp/assets/js/jquery.sticky.js}"></script>
    <!-- Progress -->
    <script th:src="@{/resource/boots/hosting_tp/assets/js/jquery.barfiller.js}"></script>

    <!-- counter , waypoint,Hover Direction -->
    <script th:src="@{/resource/boots/hosting_tp/assets/js/jquery.counterup.min.js}"></script>
    <script th:src="@{/resource/boots/hosting_tp/assets/js/waypoints.min.js}"></script>
    <script th:src="@{/resource/boots/hosting_tp/assets/js/jquery.countdown.min.js}"></script>
    <script th:src="@{/resource/boots/hosting_tp/assets/js/hover-direction-snake.min.js}"></script>

    <!-- contact js -->
    <script th:src="@{/resource/boots/hosting_tp/assets/js/contact.js}"></script>
    <script th:src="@{/resource/boots/hosting_tp/assets/js/jquery.form.js}"></script>
    <script th:src="@{/resource/boots/hosting_tp/assets/js/jquery.validate.min.js}"></script>
    <script th:src="@{/resource/boots/hosting_tp/assets/js/mail-script.js}"></script>
    <script th:src="@{/resource/boots/hosting_tp/assets/js/jquery.ajaxchimp.min.js}"></script>

    <!-- Jquery Plugins, main Jquery -->
    <script th:src="@{/resource/boots/hosting_tp/assets/js/plugins.js}"></script>
    <script th:src="@{/resource/boots/hosting_tp/assets/js/main.js}"></script>
    <script th:src="@{/resource/boots/hosting_tp/assets/js/circle-progress.min.js}"></script>

    <script src="https://kit.fontawesome.com/a013a9a8f0.js" crossorigin="anonymous"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>


</div>
</html>