<html xmlns:th="http://thymeleaf.org">
<div th:fragment="js-merge">
    <!-- JS here -->
    <script th:src="@{/resource/boots/hosting_tp/assets/js/vendor/modernizr-3.5.0.min.js}"></script>
    <!-- Jquery, Popper, Bootstrap -->
    <script th:src="@{/resource/boots/hosting_tp/assets/js/vendor/jquery-1.12.4.min.js}"></script>
    <script th:src="@{/resource/boots/hosting_tp/assets/js/popper.min.js}"></script>
    <script th:src="@{/resource/boots/hosting_tp/assets/js/bootstrap.min.js}"></script>
    <!-- Jquery Mobile Menu -->
    <script th:src="@{/resource/boots/hosting_tp/assets/js/jquery.slicknav.min.js}"></script>

    <!-- Jquery Slick , Owl-Carousel Plugins -->
    <script th:src="@{/resource/boots/hosting_tp/assets/js/owl.carousel.min.js}"></script>
    <script th:src="@{/resource/boots/hosting_tp/assets/js/slick.min.js}"></script>
    <!-- One Page, Animated-HeadLin -->
    <script th:src="@{/resource/boots/hosting_tp/assets/js/wow.min.js}"></script>
    <script th:src="@{/resource/boots/hosting_tp/assets/js/animated.headline.js}"></script>
    <script th:src="@{/resource/boots/hosting_tp/assets/js/jquery.magnific-popup.js}"></script>

    <!-- Date Picker -->
    <script th:src="@{/resource/boots/hosting_tp/assets/js/gijgo.min.js}"></script>

    <!-- Video bg -->
    <script th:src="@{/resource/boots/hosting_tp/assets/js/jquery.vide.js}"></script>

    <!-- Nice-select, sticky -->
    <script th:src="@{/resource/boots/hosting_tp/assets/js/jquery.nice-select.min.js}"></script>
    <script th:src="@{/resource/boots/hosting_tp/assets/js/jquery.sticky.js}"></script>
    <!-- Progress -->
    <script th:src="@{/resource/boots/hosting_tp/assets/js/jquery.barfiller.js}"></script>

    <!-- counter , waypoint,Hover Direction -->
    <script th:src="@{/resource/boots/hosting_tp/assets/js/jquery.counterup.min.js}"></script>
    <script th:src="@{/resource/boots/hosting_tp/assets/js/waypoints.min.js}"></script>
    <script th:src="@{/resource/boots/hosting_tp/assets/js/jquery.countdown.min.js}"></script>
    <script th:src="@{/resource/boots/hosting_tp/assets/js/hover-direction-snake.min.js}"></script>

    <!-- contact js -->
    <script th:src="@{/resource/boots/hosting_tp/assets/js/contact.js}"></script>
    <script th:src="@{/resource/boots/hosting_tp/assets/js/jquery.form.js}"></script>
    <script th:src="@{/resource/boots/hosting_tp/assets/js/jquery.validate.min.js}"></script>
    <script th:src="@{/resource/boots/hosting_tp/assets/js/mail-script.js}"></script>
    <script th:src="@{/resource/boots/hosting_tp/assets/js/jquery.ajaxchimp.min.js}"></script>

    <!-- Jquery Plugins, main Jquery -->
    <script th:src="@{/resource/boots/hosting_tp/assets/js/plugins.js}"></script>
    <script th:src="@{/resource/boots/hosting_tp/assets/js/main.js}"></script>
    <script th:src="@{/resource/boots/hosting_tp/assets/js/circle-progress.min.js}"></script>

    <script src="https://kit.fontawesome.com/a013a9a8f0.js" crossorigin="anonymous"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <script>
        // 전역적으로 fetch 요청 가로채기
        const originalFetch = fetch;
        window.fetch = function (url, options = {}) {
            const token = localStorage.getItem('jwtToken');

            // JWT 토큰이 필요한 경로 설정
            const protectedPaths = [
                "/board/write",
                "/board/edit/*",
                "/board/delete/*",
                "/board/boardEdit/*",
                "/comment/write",
                "/comment/edit/*",
                "/comment/delete/*"
            ];

            // 현재 요청 URL이 보호된 경로에 포함되는지 확인
            const shouldIncludeToken = protectedPaths.some(path => url.startsWith(path));
            console.log(shouldIncludeToken);
            console.log(token)


            if (shouldIncludeToken) {
                if (!token) {
                    alert('이 요청은 인증이 필요합니다. 먼저 로그인하세요.');
                    return Promise.reject('이 요청은 인증이 필요합니다. 먼저 로그인하세요.');
                }

                if (!options.headers) {
                    options.headers = {};
                }
                options.headers['Authorization'] = 'Bearer ' + token;
            }
            return originalFetch(url, options);
        };

        function decodeToken(token) {
            const base64Url = token.split('.')[1];
            const base64 = base64Url.replace(/-/g, '+').replace(/_/g, '/');
            const jsonPayload = decodeURIComponent(atob(base64).split('').map(function (c) {
                return '%' + ('00' + c.charCodeAt(0).toString(16)).slice(-2);
            }).join(''));

            return JSON.parse(jsonPayload);
        }

        function getMemberIdFromToken() {
            const token = localStorage.getItem('jwtToken');
            if (!token) return null;

            const payload = decodeToken(token);
            return payload.member_id;
        }


        document.addEventListener('DOMContentLoaded', function() {
            const memberId = getMemberIdFromToken();
            if (memberId) {
                document.getElementById('logout-item').style.display = 'inline-block';
            } else {
                document.getElementById('login-item').style.display = 'inline-block';
            }
        });

        document.getElementById('logout-item').addEventListener('click', function(event) {
            event.preventDefault();
            logout();
        });

        function logout() {
            const currentUrl = window.location.href;
            localStorage.setItem('previousUrl', currentUrl);
            localStorage.removeItem('jwtToken');
            window.location.href = '/auth/login';
        }




    </script>
</div>
</html>