<html xmlns:th="http://thymeleaf.org">
<!-- ? Preloader Start -->
<div th:fragment="preloader" id="preloader-active">
    <div class="preloader d-flex align-items-center justify-content-center">
        <div class="preloader-inner position-relative">
            <div class="preloader-circle"></div>
            <div class="preloader-img pere-text">
                <img th:src="@{/resource/boots/hosting_tp/assets/img/logo/creative_youtuber.png}" alt="">
            </div>
        </div>
    </div>
</div>
<!-- Preloader End -->
</html>