<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Creative Youtuber</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <div th:replace="~{include/css :: css-merge}"></div>
</head>
<body>
<div th:replace="~{include/preloader :: preloader}"></div>
<div th:replace="~{include/navbar :: header}"></div>
<main>
    <section>
        <div class="col-12">
            <iframe src="https://search-monitoring-pkbvv52xpaggd275oddtj2ulzq.ap-northeast-2.es.amazonaws.com/_dashboards/app/dashboards?security_tenant=global#/view/ab9fdc70-1340-11ef-8775-997d394b08ef?embed=true&_g=(filters%3A!()%2CrefreshInterval%3A(pause%3A!t%2Cvalue%3A0)%2Ctime%3A(from%3Anow-7d%2Cto%3Anow))&show-time-filter=true" height="600" width="800"></iframe>
        </div>
    </section>
</main>

<div th:replace="~{include/footer :: footer}"></div>
<div th:replace="~{include/js :: js-merge}"></div>
</body>
</html>